// COLORS 
:root {
    --mineshaft: #222222;
    --froly: #F68872;
    --boulder: #777777;
    --dustygray: #999999;
    --lightgray: rgba(0, 0, 0, .3);
}

// GRID 
$grid-width: 124rem;
// Space unit
$base-space-unit: 1em !default;
$base-radius-unit: 3px !default;