// COLORS 

:root {
    --dimgray: rgb(102, 102, 102);
    --dimgray-light:rgba(102, 102, 102, .05);
    --white: #fff;
    --whitesmoke: rgb(234, 234, 234);
    --nero: rgb(34, 34, 34);
    --sun: rgb(241, 99, 52); //rgba(241, 99, 52, 0.05)
    --malachite: #13CE66;
}

// FONT
$default-font-size: 1.6rem;

// GRID 
$grid-width: 114rem;