header {
    background-color: #fc3;
    height: 90vh;

    .main-nav {
        display: flex;
        height: 9rem;
        align-items: center;

        &__list {
            &:not(:last-child){
                margin-right: 4.5rem;
                text-transform: capitalize;
            }
            &:first-child {
                margin-right: auto;
            }
        }

        &__link {
            color:var(--nero);
        }

        &__logo {
            color:var(--nero);
        }
    }

    .hero {
        &__box {
            @include absCenter();
        }

        &__heading {
            text-transform: uppercase;
        }

        &__copy {
            line-height: 150%;
        }
    }
}