.u-center {
    text-align: center;
}

.mb-15 {
    margin-bottom: 1rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.tt-c {
    text-transform: capitalize;
}

.tt-u {
    text-transform: uppercase;
}

// FONT SIZE 

.fz-17 {
    font-size: 1.7rem;
}

.fz-18 {
    font-size: 1.8rem;
}

.fz-25 {
    font-size: 2.5rem;
}

.fz-40{
    font-size: 4rem;
}