doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name="viewport", 
        content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/app.css")
        title website boilerplate
    body
        header
            .row
                ul.main-nav
                    li.main-nav__list
                        a(href="#", class="fz-25").main-nav__logo Boilerplate
                    li.main-nav__list
                        a(href="#", class="fz-18").main-nav__link home
                    li.main-nav__list
                        a(href="#", class="fz-18").main-nav__link services
                    li.main-nav__list
                        a(href="#", class="fz-18").main-nav__link blog
                    li.main-nav__list
                        a(href="#", class="tt-c").btn.btn--ghost contact
                .hero
                    .hero__box
                        h1(class=" fz-40").hero__heading the only template you need
                        p(class=" fz-17").hero__copy Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facere laborum consequuntur ipsam neque deserunt officia fugit ad eaque.
                        a(href="#").btn.btn--fill Discover more
        section.services
        section.blog
        footer