doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport", 
    content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/app.css")
    title supro 
  body
    header
      .row
        ul.main-nav
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="fab fa-facebook-f")
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="fab fa-twitter")
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="fab fa-instagram")
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="fab fa-google-plus-g")

          li.main-nav__list
            form.main-nav__form
                i.main-nav__icon(class="fas fa-search margin-right-one")
                input.main-nav__text-box(type="text", placeholder="Start searching ...")

          li.main-nav__list
            a(href="#", class="tt-c ").main-nav__logo supro.

          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="far fa-user")
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link: i.main-nav__icon(class="far fa-heart")
          li.main-nav__list(class="margin-right-two")
            a(href="#").main-nav__link
              i.main-nav__icon(class="fas fa-shopping-basket")
              span.main-nav__counter 0
              

          li.main-nav__list
            span.main-nav__text(class="tt-u margin-right-one") menu
            i.main-nav__icon(class="fas fa-bars")

    // HERO

    section.hero-box
      .hero
        .row
          span.hero__intro(class="margin-bottom-one tt-u") supro masonry
          h1.hero__heading-primary Unique products by <br/> the world’s top designers

    // PRODUCTS

    section.products
      .row
        .product
          .product__img-box           
            img.product__image(src="img/h3a.jpg", alt="Linear Stem Cushion", title="h3a")
          h3.product__title(class="margin-top-one") Linear Stem Cushion
          p.product__price(class="margin-top-half") $29.90

        .product
          .product__img-box             
            img.product__image(src="img/h3b.jpg", alt="Woodrow Waste Bin", title="h3b")
          h3.product__title(class="margin-top-one") Woodrow Waste Bin
          p.product__price(class="margin-top-half") $19.90
        
        .product
          .product__img-box 
            img.product__image(src="img/h3c.jpg", alt="Eve Asymmetric Planter", title="h3c")
          h3.product__title(class="margin-top-one") Eve Asymmetric Planter
          p.product__price(class="margin-top-half") $39.90

        .product
          .product__img-box 
            img.product__image(src="img/h3j.jpg", alt="Rabbit Chair", title="h3j")
          h3.product__title(class="margin-top-one") Rabbit Chair
          p.product__price(class="margin-top-half") $19.90

        .product
          .product__img-box 
            img.product__image(src="img/h3e.jpg", alt="Flip Clock", title="h3e")
          h3.product__title(class="margin-top-one") Flip Clock
          p.product__price(class="margin-top-half") $29.90

        .product
          .product__img-box 
            img.product__image(src="img/h3f.jpg", alt="Spot Flower Plant Pot", title="h3f")
          h3.product__title(class="margin-top-one") Spot Flower Plant Pot
          p.product__price(class="margin-top-half") $19.90

        .product
          .product__img-box  
            img.product__image(src="img/h3g.jpg", alt="Wood Office Set", title="h3g")
          h3.product__title(class="margin-top-one") Wood Office Set
          p.product__price(class="margin-top-half") $39.90

        .product
          .product__img-box             
            img.product__image(src="img/h3h.jpg", alt="Painted Beech Songbird", title="h3h")
          h3.product__title(class="margin-top-one") Painted Beech Songbird
          p.product__price(class="margin-top-half") $69.90

        .product
          .product__img-box             
            img.product__image(src="img/h3i.jpg", alt="Large Sunset Table", title="h3i")
          h3.product__title(class="margin-top-one") Large Sunset Table
          p.product__price(class="margin-top-half") $39.90
          
        .products__cta
          a(href="", class="tt-u").products__link shop all products



    script(src="https://use.fontawesome.com/releases/v5.8.2/js/all.js")
