body {
    border: 2rem solid var(--froly);
}

.hero-box {
    height:40rem;
}

.hero {
    @include absCenter();
    width:70%;
    margin-top: 4rem;

    &__intro {
        font-size: 1.8rem;
        font-weight:bold;
        display: inline-block;
        color: var(--froly);
    }

    &__heading-primary {
        font-size: 7.5rem;
    }
}
